<script type="text/javascript">
    var tKeyCode = 84;

    function RegisterDate_KeyDown(s, e) {
        if (e.htmlEvent.shiftKey && e.htmlEvent.keyCode == tKeyCode) {
            s.SetValue(new Date());
            ASPxClientUtils.PreventEventAndBubble(e.htmlEvent);
        }
    }
</script>

<p>*Start row editing and press the Shift+T hotkey in the 'RegisterDate' field editor</p>

@Html.Action("GridViewPartial")